h1 {
  color: #2600FF;
  font-family: 'VT323', monospace;
  font-size: 48px;
  line-height: 1.2;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 36px;
}


h3 {
  color: #2600FF;
  font-family: 'VT323', monospace;
  font-size: 24px;
}

body {
  background: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;

}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-bottom: 3px solid #F9EA22;
}

a:hover {
  background: #F9EA22;
}


.container {
  width: 500px;
  margin: 30px auto;
  margin-top: 100px;
}

.card {
  background: white;
  padding: 40px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

.image-circle {
  border-radius: 50%;
}


.center {
  text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.movie-description {
  padding: 0px 0px 10px 10px;
}

.menu-fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #EEEEEE;
}

nav ul {
  font-family: 'VT323', monospace;
  font-size: 24px;
  padding-top: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 400px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}